/* container */
.part-sw-group-table-sample {
    overflow-x: auto;
}


/* title */
.part-sw-group-table__title {
    margin: 20px 0px;
    text-align: center;
}


/* filter */
.part-sw-group-table__filter {
    display: flex;
    justify-content: space-between;
    direction: rtl;
}

.part-sw-group-table__filter-wrapper {
    display: flex;
    width: 100%;
}

.part-sw-group-table__filter-select {
    display: flex;
    background-color: transparent;
    border-radius: 3px;
    min-width: 200px;
    margin: 20px 5px;
}

.part-sw-group-table__filter-select:focus-visible {
    outline: unset;
}

.part-sw-group-table__filter-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-sw-group-table__filter-input {
    margin: 20px 5px;
}


/* table */
.part-sw-group-table {
    width: 100%;
    min-width: 600px;
}

.part-sw-group-table--collapse {
    border-collapse: collapse;
}

.part-sw-group-table--no-collapse {
    border-collapse: unset;
}

.part-sw-group-table--separate {
    border-collapse: separate;
}

.part-sw-group-table--border-spacing {
    border-spacing: 0cm 2em;
}


/* row */
.part-sw-group-table__row--bg-even-child:nth-child(even) {
    background-color: #dddddd;
}

.part-sw-group-table__row--bg-odd-child:nth-child(odd) {
    background-color: #dddddd;
}

.part-sw-group-table__row--hover:hover {
    background-color: rgba(0,0,0,.075);
}


/* cell */
.part-sw-group-table__cell {
    padding: 8px;
}

.part-sw-group-table__cell--head {
    font-weight: 600;
}

.part-sw-group-table__cell--center {
    text-align: center;
}

.part-sw-group-table__cell--right {
    text-align: right;
}

.part-sw-group-table__cell--bordered {
    border: 1px solid #dddddd;
}


/* icon */
.part-sw-group-table__sort-icon {
    font-size: 16px;
    margin: 0px 8px;
    cursor: pointer;
    color: #727272;
}